
.btn{ 
	margin-left: 4px 
}
#bubbles {
  height: 350px;
  width: 350px;
}

#hatemeter {
    width: 300px;
    height: 200px;
    margin-left: 12%;
}

#histogram {
    width: 300px;
    height: 200px;
}
@media all and (max-width: 603px) {
    
    .form-control {
        margin-left: 5%;
        width: 90%;
    }
    
    .btnSubmit {
        margin-top: 2%;
    }
    
    .control-label {
    	align: left;
    }
    .text-right {
    	text-align: left;
        margin-left: 5%;
    }
    .wrapper {
        float: left;
        margin-left: 5%;
    }

    .theline {
        margin-left: 5%;
        margin-right: 5%;
    }
    .pagename {
        margin-left: 1.7%;
    }

    .resultmargin {
        margin-left: 2%;
    }

}

@media all and (min-width: 605px) and (max-width: 1203px) {


    .form-control {
        margin-left: 5%;
        width: 90%;
    }
    .control-label {
        align: left;
    }
    .text-right {
        text-align: left;
        margin-left: 5%;
    } 

    .wrapper {
        float: left;
        margin-left: 5%;
    }

    .theline {
        margin-left: 5%;
        margin-right: 5%;
    }
    .pagename {
        margin-left: 3%;
    }       

    .resultmargin {
        margin-left: 3%;
    }
    
}


@media all and (min-width: 1204px) {


    .wrapper {
        float: right;
    }
    .pagename {
        margin-left: 5%;
    }
    .resultmargin {
        margin-left: 3%;
        width: 75%;
    } 
  
}